@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="text-center">
    <h1 class="display-4">WaterOPS Report Builder</h1>
</div>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/Images/O-P-S Logo.png" id="icon" alt="User Icon" />
        </div>
        <label class="col-sm-auto col-form-label font-weight-bold" for="inlineFormCustomSelectPref">Select Your Water System</label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option selected>Choose...</option>
            <option value="1">Test 1</option>
            <option value="2">Test 2</option>
        </select>
        <label class="col-sm-auto col-form-label font-weight-bold" for="inlineFormCustomSelectPref">Select The Type of Report to Create</label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option selected>Choose...</option>
            <option value="1">Monthly Report</option>
            <option value="2">Quarterly Report</option>
            <option value="3">Yearly</option>
        </select>
        <a asp-page="" asp-route-ID="" class="btn btn-primary m-1">Submitt</a>
    </div>


 


</div>