@page 
@model WatOpsFormLibV2.Pages.FormView.FormFillPageModel
@{
    ViewData["Title"] = "FormFillPage";
}

<h1>Form Fill Page</h1>

<head>
    <title> Form Fill Page</title>
</head>
<form method="post" class="mt-3">
    <input hidden asp-for="Form.FormId"/>



</form>